<div class="child-contents-container">
    <div>
        <div class="flex txt center ">
            <aside *ngIf="hasPhoto" class="frame" [ngStyle]="{backgroundImage:'url(assets/images/'+node?.ownerId+'.jpg)'}">
            </aside>
            <b>{{node?.user?.displayName}}</b>:
            <p>{{node?.txt}}</p>
        </div>

        <div>
            <div class="children-container" *ngIf="node?.children">
                <app-comment-item *ngFor="let ch of node?.children" [node]="ch">
                </app-comment-item>
            </div>

        </div>
    </div>